@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    transition: all 0.5s ease;
}
:root{
    --celeste: #21B8CC;
    --gris-oscuro: #5D5D5D;
    --gris-claro: D9D9D9;
}

html{
    scroll-behavior: smooth;
}

body{
    position: relative;
    opacity: 0;
    transition: opacity 0.5s;
     /* Add this line to make sure the body can act as a reference for z-index */
}
main{
    display:block;
}


/* cabezera */

.banner{
    position: relative;
    min-height: 100vh;
    background: url(imagen2.png);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
}

.banner_enac{
    position: relative;
    min-height: 100vh;
    background: url(ENAC\ 1.png);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.banner_autonoma{
    position: relative;
    min-height: 100vh;
    background: url(AUTONOMA2.png);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.banner_aiep{
    position: relative;
    min-height: 100vh;
    background: url(AIEP2.png);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner_inacap{
    position: relative;
    min-height: 100vh;
    background: url(INACAP2.png);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center; 
}


.texto-banner{
    margin-top: 430px;
    height: 0 auto;
}

.texto-banner img{
    width: 100%;
}

.banner h3{
    color: #FFF;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    margin: 14px;
}

.banner h2{
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin: 14px;
}

.banner h1{
    color: #FFF;
text-align: center;
font-family: Poppins;
font-size: 100px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
flex-shrink: 0;
}


.myheader {
    display: flex;
    flex-direction: row;
    align-content: center;
    position: fixed;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 20px 20px 0 20px;
    margin-bottom: 50px;
    z-index: 1000;
    gap: 30px;
}

.toogle{
    visibility: hidden;
}

.menu ul{
    display: flex;
    flex-direction: row;
}

.menu ul li a:hover{
    font-weight: 500;
}

.container_logo {
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container_logo img {
    max-width: 100%;

    width: auto;
    height: auto;
}

header ul{
    align-items: flex-start;
    gap:52px;
    list-style: none;
    display: inline-flex;
    align-items: center;
}

header ul li{
    text-transform: uppercase;
}

header ul li a{
    position: relative;
    transition: all 0.2s;
}
.myheader a:visited {
    color: inherit;
    text-decoration: inherit;
}

header ul li a:hover{
    
    font-weight: bold;
}





/* quienes somos */

.quienes-somos{
    height: auto;
    display: flex;
    justify-content: center;
    background: white;
    padding: 20px 0;
    
    
}
.contenido-quienes-somos{
    margin: 50px 30px;
}

.titulo-quienes-somos h2{
    color: #6B6B6B;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.titulo-quienes-somos span{
    color: #21B8CC;
    font-family: Poppins;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.texto-quienes-somos{
    width: 100%;
    display: flex;
    flex-direction: column;

}

.texto-quienes-somos p{
    color: #6B6B6B;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 162.5%; 
}

.imagen-quienes-somos{
    margin-top: 10px;
}

.imagen-quienes-somos img{
    border-radius: 36px;
}

.pagina {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}
.pagina.hidden {
    opacity: 0;
}

/* servicios */

.servicio{
    background: url(imagen3.png);
    background-size: cover;
    background-position: center;
    height: auto;
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;
}

.cabezera-servicio{
    text-align: center;
    padding: 40px;
}

.cabezera-servicio h2{
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.cabezera-servicio span{
    color: #FFF;
    font-family: Poppins;
    font-size: 60px;
    font-style: normal; 
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.contenido{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.columna{
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

.serviciobox{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #6B6B6B;
    width: 580px;
    height: 338px;
    margin: 20px 0 20px 0 ;
}

.serviciobox img{
    width: 180px;
}





.izq h3{
    color: #FFF;
font-family: Poppins;
font-size: 25px;
font-style: normal;
font-weight: 700;
line-height: 162.5%; /* 40.625px */
text-transform: uppercase;
}

.izq p{
    color: #FFF;
font-family: Poppins;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 162.5%; /* 32.5px */
}




/* nuestros clientes */

.clientes{
    padding-bottom: 70px;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
}

.titulo-cliente{
    width: 100%;
    margin: 80px ;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.titulo-cliente h2{
    color: #6B6B6B;
    text-align: center;
    font-family: Poppins;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.titulo-cliente span{
    color: #21B8CC;
    font-family: Poppins;
    font-size: 60px;    
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.link-cliente{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
}
.link-cliente .izquierda {
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    width: auto;
}
.link-cliente .derecha{
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: auto;
    justify-content: center;
}
.enac a:hover{
    content: url(enac_hover.png);
    transition: all 25s ease-in;
}

.autonoma a:hover{
    content: url(autonoma_hover.png);
}

.aiep a:hover{
    content: url(aiep_hover.png);
}

.inacap a:hover{
    content: url(inacap_hover.png);
}


.titulo-exito{
    margin: 30px 80px;
    text-align: center;
}

.titulo-exito h2{
    color: #6B6B6B;
    text-align: center;
    font-family: Poppins;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.titulo-exito span{
    color: #21B8CC;
    font-family: Poppins;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}


.cliente-fila{
    width: 100%;
    height: 85.283px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
}

.cliente-fila img{
    margin: 40px 20px;
    
}





/* contacto */

.contacto{
    background: #5E5E5E;
    padding: 20px 0;
    width: 100%;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    height: 90vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    
}

.titulo-contacto{
    
    text-align: center;
    padding: 72px;
}


.titulo-contacto h2{
    color: #FFF;
text-align: center;
font-family: Poppins;
font-size: 60px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
}


.informacion{
    width: 50%;
    display: flex;
    flex-direction: row;
    gap: 40px;
    
}

.cont_contacto{
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.iconos{
    display:flex;
    flex-direction: column;
    gap: 70px;
    padding-top: 70px;
    justify-content: flex-start;
}

.titulo h3{
    color: #FFF;
font-family: Poppins;
font-size: 25px;
font-style: normal;
font-weight: 700;
line-height: 162.5%; /* 40.625px */
text-transform: uppercase;
}

.texto-informacion{
    display: flex;
    flex-direction: column;
    gap: 20px;
    

}

.texto-informacion p{
    color: #FFF;
font-family: Poppins;
font-size: 20px;
font-style: normal;
font-weight: 300;
line-height: 162.5%;
}

.texto-informacion h3{
    color: #21B8CC;
font-family: Poppins;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 162.5%; /* 32.5px */
}

.iconos i{
    color: #fff;
    font-size: 40px;
}

.formulario{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formulario input{
    width: 828px;
height: 70px;
flex-shrink: 0;
background: #474646;
box-shadow: none;
margin: 20px 0px;
transition: all 0.5s ease;
border-style: none;
}

.formulario input::placeholder{
    color: #FFF;
text-align: left;
font-family: Poppins;
font-size: 20px;
font-style: normal;
font-weight: 300;
line-height: normal;
text-transform: capitalize;
opacity: 0.5;
padding: 20px;
}

.formulario textarea{
    width: 828px;
height: 316px;
flex-shrink: 0;
background: #474646;
border-style: none;
}

.formulario textarea::placeholder{
    color: #FFF;
    text-align: left;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-transform: capitalize;
    opacity: 0.5;
    padding: 20px;
}

.formulario input[type="submit"]{
    width: 214px;
height: 79px;
background: #21B8CC;
color: #FFF;
text-align: center;
font-family: Poppins;
font-size: 30px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
border-style: none;
}

.formulario input[type="submit"]:hover{
    background: #FFF;
    color: #21B8CC;
}

.formulario input,[type="text"]{
    font-family: Arial, sans-serif;
    font-size: 20px;
    color: #afadad;
    padding-left: 10px;
}

.formulario textarea,[type="text"]{
    font-family: Arial, sans-serif;
    font-size: 20px;
    color: #afadad;
    padding: 10px;
}



/* footer */

.footer{
    background: #21B8CC;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: auto;
    padding: 40px;
    gap: 40px;
    
}

.footer_izq{
    width: 580px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 20px;
}

.footer_der{
    width: 580px;
    display: flex;
}

.logoytexto{
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
    padding-top: 40px;
}



.texto_footer p{
    color: #FFF;
font-family: Poppins;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.texto_footer h2{
    color: #FFF;
font-family: Poppins;
font-size: 35px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.texto_footer span{
    font-weight: bolder;
}

.social_footer {
    color: #fff;
    font-size: 40px;
    gap: 60px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    transition: all 0.3s ease;
}

.social_footer i{
    border: 4px solid white;
    border-radius: 50px;
    padding: 15px;
}

.social_footer a{
    color: #fff;
}

.social_footer i:hover{
    background: white;
    color: #21B8CC;
}

.derecho{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
}

.lado1{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.lado2{
    padding-top: 40px;
}

/*_____________________________________________________________

ENAC y AUTONOMA______________

_________________________________________________________*/

/*descripcion*/

.descripción{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin: 0 auto;
padding:  100px 70px;


}

.descripción p{
    color: #6B6B6B;
font-family: Poppins;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 162.5%; /* 32.5px */
}


/*animaciones*/

.animaciones{
    position: relative;
    max-height: auto;
    background: url(imagen3.png);
    background-size: cover;
    background-position: center;
    padding: 30px 0 30px 0;
}

.titulo_animaciones{
    text-align: center;
}

.titulo_animaciones span{
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.titulo_animaciones h2{
    color: #FFF;
font-family: Poppins;
font-size: 60px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-transform: uppercase;
}

.videos{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenedor-video{
    display: flex;
    flex-direction: column;
    width: 80%;
}

.texto_animaciones{
    display: flex;
    flex-direction: column;
    padding:  30px 70px;
    width: 100%;
}

.texto_animaciones p{
    color: #FFF;
font-family: Poppins;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 162.5%; /* 32.5px */
}

/*interactivo*/

.titulo_interactivo{
    text-align: center;
    padding: 40px;
}

.titulo_interactivo h2{
    color: #21B8CC;
text-align: center;
font-family: Poppins;
font-size: 60px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
}

.titulo_interactivo span{
    color: #666;
font-family: Poppins;
font-size: 60px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-transform: uppercase;
}

.cuadro_interactivo{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.genially{
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: 30px;
}

.texto_interactivo{
    display: flex;
    flex-direction: column;
    padding:  50px 70px;
    width: 100%;
}

.texto_interactivo p{
    color: #6B6B6B;
font-family: Poppins;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 162.5%; /* 32.5px */
}


/*infografia*/

.titulo_infografia{
    text-align: center;
    padding: 40px;
}

.titulo_infografia h2{
    color: #21B8CC;
text-align: center;
font-family: Poppins;
font-size: 60px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
}

.pdf{
    display: flex;
    gap: 25px;
    justify-content: center;
}

.texto_infografia{
    display: flex;
    flex-direction: column;
    padding:  50px 70px;
    width: 100%;
}

.texto_infografia p{
    color: #6B6B6B;
font-family: Poppins;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 162.5%; /* 32.5px */
}

.pdf_cuadro img{
    transition: transform 0.2s;
}

.pdf_cuadro img:hover{
    transform: scale(0.9); 
}




/*apuntes*/

.titulo_apuntes{
    text-align: center;
    padding: 40px;
}

.titulo_apuntes h2{
    color: #5E5E5E;
text-align: center;
font-family: Poppins;
font-size: 60px;
font-style: normal;
font-weight: 500;
line-height: normal;
text-transform: uppercase;
}

.titulo_apuntes span{
    color: #21B8CC;
font-family: Poppins;
font-size: 60px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
}

.texto_apuntes{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding:  50px 70px;
}

.texto_apuntes p{
    color: #6B6B6B;
font-family: Poppins;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 162.5%; /* 32.5px */
}

/*_____________________________________________________________

AIEP______________

_________________________________________________________*/

.ruta{
    height: auto;
    background: url(imagen3.png);
    background-size: cover;
    background-position: center;
    padding-top: 30px;
}

.titulo_ruta{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px 0 40px 0;
}

.titulo_ruta h2{
    color: #fff;
text-align: center;
font-family: Poppins;
font-size: 60px;
font-style: normal;
font-weight: 500;
line-height: normal;
text-transform: uppercase;
}

.titulo_ruta span{
    color: #fff;
font-family: Poppins;
font-size: 60px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
}

.rutadeaprendizaje{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.story{
    width: 1200px;
    height: 660px;
}

.texto_ruta{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding:  50px 70px;
}

.texto_ruta p{
    color: #FFF;
font-family: Poppins;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 162.5%; /* 32.5px */
}


/*_____________________________________________________________

INACAP______________

_________________________________________________________*/




.titulo_articulate{
    width: 100%;
    height: 246px;
    display: flex;
    flex-direction: column;
    padding: 56px 0;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.titulo_articulate h2{
    color: #666;
font-family: Poppins;
font-size: 60px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-transform: uppercase;
}

.titulo_articulate span{
    color: #21B8CC;
text-align: center;
font-family: Poppins;
font-size: 60px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
}

/*_____________________________________________________________

______________TABLET______________

_________________________________________________________*/




@media (max-width: 1024px){

    /*H E A D E R*/


    .texto-banner h3{
color: #FFF;
text-align: center;
font-family: Poppins;
font-size: 21.574px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-transform: uppercase;
align-content: center;
justify-content: center;
    }

    .texto-banner h2{
color: #FFF;
text-align: center;
font-family: Poppins;
font-size: 21.574px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
    }

    .texto-banner h1{
        color: #FFF;
        text-align: center;
font-family: Poppins;
font-size: 40.991px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
    }

    .myheader {
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: center;
        padding: 20px 20px 0 20px;
        margin-bottom: 50px;
        z-index: 1000;
        gap: 20px;
        align-items: center;
        position: absolute;
    }


    .toogle{
        visibility: visible;
        z-index: 10000;
        position: absolute;
        padding: 50px;
        display: flex;
        justify-content: flex-end;
        position: absolute;
        right: 0;
        

    }

    .toogle i{
        font-size: 70px;
        color: #fff;
    }

    .menu{
    visibility: hidden;
}

    .menu li ul{
        font-size: 30px;
}

    .menu ul{
        display: flex;
        flex-direction: row;
    }
    
    .menu ul li a:hover{
        font-weight: 500;
    }
    
    .container_logo {
        width: 200px;
        height: 200px;
        display: flex;
        align-items: center;
        justify-content: flex-start; 
        
    }
    .container_logo img {
        width: 100%;
        height: auto;
    }
    
    
    header ul{
        gap:30px;
        list-style: none;
        display: inline-flex;
        align-items: center;
    }
    
    header ul li{
        text-transform: uppercase;
    }
    
    header ul li a{
        position: relative;
        transition: all 0.2s;
    }
    .myheader a:visited {
        color: inherit;
        text-decoration: inherit;
    }
    
    header ul li a:hover{
        
        font-weight: bold;
    }
    
    /*QUIENES SOMOS*/


    .quienes-somos{
        display: flex;
        flex-direction: column;
        height: auto;
        align-items: CENTER;
        justify-content: center;
        text-align: center;
        padding-bottom: 200px;
        width: 100%;
    }

    .titulo-quienes-somos{
        margin-bottom: 30px;
    }

    /*SERVICIOS*/

    .servicio{
        height: auto;
    }

    .cabezera-servicio{
        padding-top: 50px;
    }

    .cabezera-servicio h2{
        color: #FFF;
        text-align: center;
        font-family: Poppins;
        font-size: 38px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .cabezera-servicio span{
        color: #FFF;
        font-family: Poppins;
        font-size: 38px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .contenido{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
        gap: 0;
    }

    .serviciobox{
        padding: auto;
    }



    
/*CLIENTES*/

    .clientes{
        height: auto;
}

    .link-cliente{
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
}

    .logo-cliente{
        display: flex;
        flex-direction: row;
}

    .logo-cliente img{
        width: auto;
}

    .cliente-fila{
        flex-direction: column;
        padding: 150px;
}

/*CONTACTO*/

    .contacto{
        display: flex;
        flex-direction: column;
        height: auto;
        width: 100%;
        justify-content: center;
}

.cont_contacto{
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
}

.informacion{
    width: 90%;
}

.formulario{
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formulario input{
    width: 700px;
}

.formulario textarea{
    width: 700px;
}


/*FOOTER*/

.footer{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: auto;
}

.footer_izq{
    margin: 0 auto;
    padding-bottom: 40px;
}

.social_footer{
    display: flex;
    align-items: center;
    justify-content: center;
}

/*_____________________________________________________________

______________ENAC Y AUTONOMA______________

_________________________________________________________*/

.pdf{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*_____________________________________________________________

______________AIEP______________

_________________________________________________________*/


.ruta{
    width: 100%;
    display: flex;
    flex-direction: column;
    height: auto;
}

.rutadeaprendizaje{
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.story{
    width: 700px;
    height: 400px;
}

/*_____________________________________________________________

______________Inacap______________

_________________________________________________________*/ 

.texto-banner img{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}


}




/*_____________________________________________________________

______________T E L E F O N O______________

_________________________________________________________*/ 





@media (max-width:410px) {

    .texto-quienes-somos p{
        color: #6B6B6B;
font-family: Poppins;
font-size: 16.019px;
font-style: normal;
font-weight: 400;
line-height: 174%; /* 27.874px */
    }

    /*servicios*/

.serviciobox{
    width: 20.625rem;
    height: 11.95756rem;
}

.serviciobox h3{
    color: #FFF;
font-family: Poppins;
font-size: 0.88444rem;
font-style: normal;
font-weight: 700;
line-height: 162.5%; /* 1.43719rem */
text-transform: uppercase;
}

.serviciobox p{
    color: #FFF;
font-family: Poppins;
font-size: 0.70756rem;
font-style: normal;
font-weight: 400;
line-height: 162.5%; /* 1.14975rem */
}

.serviciobox img{
    width: 6.36794rem;
height: 6.36794rem;
flex-shrink: 0;
}

    
}